footer {
    background-color: #000000;
	padding-top: 30px;
	margin-top: 60px;
	.footer-head {
		position: relative;
		font-size: 14px;
		color: #ffffff80;
		.logo-cntr {
			display: inline-block;
			max-width: 200px;
			width: 100%;
			margin: 0 auto 20px auto;
		}
	}
	.footer-body {
		padding: 40px 0 20px 0;
	}
	.footer-links {
		@extend %flex-center;
		justify-content: space-between;
		@include mq(max, $mq_md - 1) {
			flex-direction: column-reverse;
			flex-wrap: wrap;
		}
		.footer-nav {
			display: inherit;
			align-items: inherit;
			justify-content: center;
			@include mq(max, $mq_md - 1) {
				margin-top: 20px;
			}
			li {
				display: inherit;
				align-items: inherit;
				flex-basis: 0;
				flex-grow: 1;
				justify-content: center;
				padding: 0 15px;
				border-right: 1px solid #ffffff;
				@include mq(max, $mq_md - 1) {
					padding: 0 10px;
					&:first-child {
						border-left: 1px solid #ffffff;
					}
				}
				&:last-child {
					border-right: none;
					@include mq(max, $mq_md - 1) {
						border-right: 1px solid #ffffff;
					}
				}
				a {
					text-decoration: none;
					color: #ffffff;
					text-transform: capitalize;
				}
			}
		}
		.footer-social {
			display: inherit;
			align-items: center;
			justify-content: space-between;
			li {
				display: inherit;
				align-items: inherit;
				margin-right: 10px;
				a {
					display: inherit;
					align-items: inherit;
					width: 30px;
					text-decoration: none;
				}
			}
		}
	}
	.footer-copyright {
		text-align: center;
		padding: 10px 0;
		background-color: $secondary-color;
		width: 100%;
		font-size: 12px;
		color: rgba(255, 255, 255, 0.45098039215686275);
	}
}