
@import 'global/base';

/** LAYOUTS **/
@import 'layout/grid';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';
/** MODULES **/
@import 'module/btn';
@import 'module/lists';
@import 'module/slider';
@import 'module/card';
@import 'module/forms';
@import 'module/custom';

// $min_width: 320px;
// $max_width: 751px;
// $min_font: 14px;
// $max_font: 32px;

// .test {
//   @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }