$fis :  "fade-up" translateY(-30%), 
		"fade-down" translateY(30%),
		"fade-down-left" translate(30%, -30%),
		"fade-down-right" translate(-30%, -30%), 
		"fade-left" translateX(-30%),
		"fade-up-left" translate(30%, 30%),
		"fade-up-right" translate(-30%, 30%),
		"fade-right" translateX(30%),
		"flip-x" scaleX(-.01),
		"flip-y" scaleY(-.01),
		"zoom-in" scale(.6),
		"zoom-in-up" translateY(30%) scale(.6),
		"zoom-in-down" translateY(-30%) scale(.6),
		"zoom-in-left" translateX(30%) scale(.6),
		"zoom-in-right" translateX(-30%) scale(.6),
		"zoom-out" scale(1.2);
		
.fis-animate {
	transform: translateY(0%);
	opacity: 0;
	@each $f in $fis {
		&[data-fis="#{nth($f, 1)}"] {
			transform: #{nth($f, 2)};
		}
	}
}
