
@keyframes zoomFade {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-25%);
	}
	50% {
		transform: translateY(-50%);
	}
	90% {
		transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
	}
	
	100% {
		transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
	}
}

.upbox {
	display: flex;
	align-items: center;
	img {
		&.is-zoom {
			animation: zoomFade .8s forwards linear;
		}
	}
}
.upbox-pop {
	display: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	background-color: rgba($color: #000000, $alpha: .75);
	transition: linear .3s;
	.upbox-opt {
		position: absolute;
		top: 30px;
		right: 30px;
		flex: 0 0 100%;
		max-width: 100%;
		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-right: -10px;
			li {
				a {
					text-decoration: none;
					color: #ffffff;
					padding: 10px;
					background-color: gray;
				}
			}
		}
	}
	.upbox-cntr {
		max-width: 800px;
		width: 100%;
		.upbox-body {
			overflow: hidden;
			ul {
				display: flex;
				align-items: center;
				position: relative;
    			min-height: 315px;
				li {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			.upbox-np {
				position: absolute;
				left: 30px;
				right: 30px;
				top: calc(100vh / 2);
				display: flex;
				align-items: center;
				justify-content: space-between;
				a {
					text-decoration: none;
					color: #ffffff;
				}
			}
		}
	}
}