/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
.wrp-header .cntr-header.is-typeA, .main-navigation, .main-navigation ul, footer .footer-links, #hero-slider .owl-dots, .dflex-ai {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  25% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  75% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  25% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  75% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000000;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1100px) {
  .cntr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 569px) {
  .gap.gap-0-sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0-sm > [class^="sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0-sm > [class*=" sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 769px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-20 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20 > [class^="md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20 > [class*=" md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 569px) {
  .gap .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.wrp-header {
  position: relative;
  border-top: 4px solid #991111;
  background-color: #ffffff;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .wrp-header {
    padding: 10px 30px;
  }
}

.wrp-header.is-fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 35px grey;
     -moz-box-shadow: 0px 0px 35px grey;
          box-shadow: 0px 0px 35px grey;
  z-index: 99;
}

.wrp-header .cntr-header {
  max-width: 1100px;
  width: 100%;
}

@media (max-width: 1100px) {
  .wrp-header .cntr-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.wrp-header .cntr-header.is-typeA {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrp-header .cntr-header.is-typeA .main-header {
  display: block;
  max-width: 180px;
  width: 100%;
}

.main-navigation {
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-width: 500px;
  width: 100%;
}

@media (max-width: 768px) {
  .main-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 4px;
    left: -100%;
    right: 0;
    bottom: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background-color: #ffffff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.main-navigation ul {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media (max-width: 768px) {
  .main-navigation ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.main-navigation ul li {
  text-align: center;
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .main-navigation ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 30px;
  }
}

.main-navigation ul li:last-child {
  padding-right: 0;
}

@media (max-width: 768px) {
  .main-navigation ul li:last-child {
    padding-right: 30px;
  }
}

.main-navigation ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .main-navigation ul li a {
    font-size: 2em;
  }
}

#toggle-nav {
  position: fixed;
  top: 40px;
  right: 30px;
  display: inline-block;
  width: 35px;
  height: 25px;
  z-index: 1;
}

@media (min-width: 769px) {
  #toggle-nav {
    display: none;
  }
}

#toggle-nav span {
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background-color: #156e80;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  transition: ease-in .2s;
}

#toggle-nav span:first-child {
  top: 0;
}

#toggle-nav span:nth-child(2) {
  top: 11px;
}

#toggle-nav span:last-child {
  top: unset;
  bottom: 0;
}

#toggle-nav.toggle-open span {
  -webkit-transition: ease-in .3s;
  -o-transition: ease-in .3s;
  -moz-transition: ease-in .3s;
  transition: ease-in .3s;
}

#toggle-nav.toggle-open span:first-child {
  top: 11px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#toggle-nav.toggle-open span:nth-child(2) {
  top: 11px;
  width: 0;
}

#toggle-nav.toggle-open span:last-child {
  top: unset;
  bottom: 11px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer {
  background-color: #000000;
  padding-top: 30px;
  margin-top: 60px;
}

footer .footer-head {
  position: relative;
  font-size: 14px;
  color: #ffffff80;
}

footer .footer-head .logo-cntr {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto 20px auto;
}

footer .footer-body {
  padding: 40px 0 20px 0;
}

footer .footer-links {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

footer .footer-links .footer-nav {
  display: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
     -moz-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  footer .footer-links .footer-nav {
    margin-top: 20px;
  }
}

footer .footer-links .footer-nav li {
  display: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
     -moz-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  border-right: 1px solid #ffffff;
}

@media (max-width: 768px) {
  footer .footer-links .footer-nav li {
    padding: 0 10px;
  }
  footer .footer-links .footer-nav li:first-child {
    border-left: 1px solid #ffffff;
  }
}

footer .footer-links .footer-nav li:last-child {
  border-right: none;
}

@media (max-width: 768px) {
  footer .footer-links .footer-nav li:last-child {
    border-right: 1px solid #ffffff;
  }
}

footer .footer-links .footer-nav li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
}

footer .footer-links .footer-social {
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-links .footer-social li {
  display: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
     -moz-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin-right: 10px;
}

footer .footer-links .footer-social li a {
  display: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
     -moz-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  width: 30px;
  text-decoration: none;
}

footer .footer-copyright {
  text-align: center;
  padding: 10px 0;
  background-color: #991111;
  width: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45098);
}

/** MODULES **/
.btn {
  text-decoration: none;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.btn-memo {
  background-color: #156e80;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px;
  margin-top: 20px;
  margin-left: auto;
}

.btn-memo:hover {
  color: #000000;
  border-color: #156e80;
  background-color: #ffffff;
}

.btn-memo-save {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 16px;
  padding: 2px 5px;
  background-color: gray;
}

.btn-memo-save:before {
  content: "save ";
}

.category-list li.active {
  background-color: rgba(128, 128, 128, 0.14);
}

#hero-slider .slide-item {
  min-height: -webkit-calc(100vh);
  min-height: -moz-calc(100vh);
  min-height: calc(100vh);
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
}

#hero-slider .owl-dots {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 14px;
}

#hero-slider .owl-dots .owl-dot {
  display: block;
  width: 50px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 5px;
  outline: none;
  -webkit-transition: ease-in .5s;
  -o-transition: ease-in .5s;
  -moz-transition: ease-in .5s;
  transition: ease-in .5s;
}

#hero-slider .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

#hero-slider .owl-dots .owl-dot.active {
  background-color: #991111;
  -webkit-transition: ease-in .5s;
  -o-transition: ease-in .5s;
  -moz-transition: ease-in .5s;
  transition: ease-in .5s;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.card .card-head, .card .card-body, .card .card-foot {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.card .card-head .card-title {
  padding: 30px 0 0 0;
  font-size: 1.5em;
}

.card .card-body, .card .card-foot {
  position: relative;
  padding: 30px 0 0 0;
}

.featured-img {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.todo_form {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 0px lightgray;
     -moz-box-shadow: 0px 0px 8px 0px lightgray;
          box-shadow: 0px 0px 8px 0px lightgray;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding: 30px 20px;
}

.todo_form .grp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.todo_form .grp tbody tr {
  border-bottom: 1px solid lightgray;
}

.todo_form .grp tbody tr td {
  vertical-align: middle;
}

.todo_form .grp tbody tr td .delete-data i {
  font-size: 20px;
}

.todo_form .grp input[type="text"], .todo_form .grp input[type="date"], .todo_form .grp textarea, .todo_form .grp select, .todo_form .grp .editable_content {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.todo_form .grp textarea {
  max-height: 35px;
}

.todo_form .grp .editable_content {
  border: none;
  margin-left: 10px;
  color: gray;
  margin-right: 10px;
}

.dblock {
  display: block;
}

.diblock {
  display: inline-block;
}

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.diflex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dnone {
  display: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ai {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 769px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-18-xs {
  font-size: 18px;
}

@media (min-width: 769px) {
  .fs-20 {
    font-size: 20px !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.is-wide {
  width: 100%;
}

small {
  font-size: 14px;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.jc-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ov-hidden {
  overflow: hidden;
}

.v-pc {
  display: block;
}

@media (max-width: 768px) {
  .v-pc {
    display: none;
  }
}

.v-sp {
  display: none;
}

@media (max-width: 768px) {
  .v-sp {
    display: block;
  }
}

.blog_main-title {
  color: #23282d;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  line-height: 1.3;
  margin-right: 10px;
}

.opt_hover {
  padding-bottom: 100px;
}

.opt_hover:hover ul {
  opacity: 1;
  -webkit-transition: linear .5s;
  -o-transition: linear .5s;
  -moz-transition: linear .5s;
  transition: linear .5s;
}

.opt_hover ul {
  opacity: 0;
  -webkit-transition: linear .5s;
  -o-transition: linear .5s;
  -moz-transition: linear .5s;
  transition: linear .5s;
}

.opt_hover ul .list-group-item {
  padding: 3px 8px;
  font-size: 10px;
}

.mh-65 {
  min-height: 65px;
}

.note-toolbar {
  background-color: #e8e8e8;
}

.new_category_field {
  display: none;
}

.img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  height: 180px;
  background-color: lightgray;
}

.img-box img {
  width: 100%;
}

.img-box:before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  content: "Upload Image";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.img-box:hover:before {
  opacity: 1;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.img-box.is-v2:hover:before {
  display: none;
}

#featured-img-box {
  position: relative;
  pointer-events: all;
  cursor: pointer;
}

#featured-img {
  display: none;
  pointer-events: none;
}

#editable_fimg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

table.dataTable thead th {
  padding: 10px;
}
