@-webkit-keyframes zoomFade {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  90% {
    -webkit-transform: translateY(-60%) translateX(-webkit-calc(100vw / 8)) scale(2);
            transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-webkit-calc(100vw / 4)) scale(2.5);
            transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
  }
}

@-moz-keyframes zoomFade {
  0% {
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-25%);
         transform: translateY(-25%);
  }
  50% {
    -moz-transform: translateY(-50%);
         transform: translateY(-50%);
  }
  90% {
    -moz-transform: translateY(-60%) translateX(-moz-calc(100vw / 8)) scale(2);
         transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
  }
  100% {
    -moz-transform: translateY(-100%) translateX(-moz-calc(100vw / 4)) scale(2.5);
         transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
  }
}

@-o-keyframes zoomFade {
  0% {
    -o-transform: translateY(0);
       transform: translateY(0);
  }
  25% {
    -o-transform: translateY(-25%);
       transform: translateY(-25%);
  }
  50% {
    -o-transform: translateY(-50%);
       transform: translateY(-50%);
  }
  90% {
    -o-transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
       transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
  }
  100% {
    -o-transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
       transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
  }
}

@keyframes zoomFade {
  0% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25%);
       -moz-transform: translateY(-25%);
         -o-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  50% {
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  90% {
    -webkit-transform: translateY(-60%) translateX(-webkit-calc(100vw / 8)) scale(2);
       -moz-transform: translateY(-60%) translateX(-moz-calc(100vw / 8)) scale(2);
         -o-transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
            transform: translateY(-60%) translateX(calc(100vw / 8)) scale(2);
  }
  100% {
    -webkit-transform: translateY(-100%) translateX(-webkit-calc(100vw / 4)) scale(2.5);
       -moz-transform: translateY(-100%) translateX(-moz-calc(100vw / 4)) scale(2.5);
         -o-transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
            transform: translateY(-100%) translateX(calc(100vw / 4)) scale(2.5);
  }
}

.upbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upbox img.is-zoom {
  -webkit-animation: zoomFade .8s forwards linear;
     -moz-animation: zoomFade .8s forwards linear;
       -o-animation: zoomFade .8s forwards linear;
          animation: zoomFade .8s forwards linear;
}

.upbox-pop {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  -moz-transition: linear .3s;
  transition: linear .3s;
}

.upbox-pop .upbox-opt {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.upbox-pop .upbox-opt ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -10px;
}

.upbox-pop .upbox-opt ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  background-color: gray;
}

.upbox-pop .upbox-cntr {
  max-width: 800px;
  width: 100%;
}

.upbox-pop .upbox-cntr .upbox-body {
  overflow: hidden;
}

.upbox-pop .upbox-cntr .upbox-body ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 315px;
}

.upbox-pop .upbox-cntr .upbox-body ul li {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.upbox-pop .upbox-cntr .upbox-body .upbox-np {
  position: absolute;
  left: 30px;
  right: 30px;
  top: -webkit-calc(100vh / 2);
  top: -moz-calc(100vh / 2);
  top: calc(100vh / 2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upbox-pop .upbox-cntr .upbox-body .upbox-np a {
  text-decoration: none;
  color: #ffffff;
}
