.btn {
	text-decoration: none;
	transition: linear .3s;
	&-memo {
		background-color: $theme-color;
		color: #ffffff;
		font-size: 15px;
		padding: 5px 20px;
		margin-top: 20px;
		margin-left: auto;
		&:hover {
			color: $base-color;
			border-color: $theme-color;
			background-color: #ffffff;
		}
		&-save {
			position: absolute;
			top: -20px;
			right: 0;
			font-size: 16px;
			padding: 2px 5px;
			background-color: gray;
			&:before {
				content: "save ";
			}
		}
	}
}

