.card {
	display: flex;
	flex-wrap: wrap;
	.card-head, .card-body, .card-foot {
		@include flex_w(100%);
	}
	.card-head {
		.card-title {
			padding: 30px 0 0 0;
			font-size: 1.5em;
		}
	}
	.card-body, .card-foot {
		position: relative;
		padding: 30px 0 0 0;
	}
	// .card-foot {
	// 	padding-bottom: 30px;
	// }
}

.featured-img {
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}