
@import "module/display";
@import "module/align";
@import 'module/spacing';
@import 'module/typography';

// width sizes
.is-wide {
	width: 100%;
}

small {
	font-size: 14px;
}

// display options
.dflex-ai {
	@extend %flex-center;
}
.dflex-end {
	@extend %flex-end;
}

.flex-row-rev {
	flex-direction: row-reverse;
}

.jc-sb {
	justify-content: space-between;
}

.ov-hidden {
	overflow: hidden;
}

.v-pc {
	display: block;
	@include mq(max, 768) {
		display: none;
	}
}

.v-sp {
	display: none;
	@include mq(max, 768) {
		display: block;
	}
}


.blog_main-title {
	color: #23282d;
    font-size: 23px;
    font-weight: 400;
    margin: 0;
	line-height: 1.3;
	margin-right: 10px;
}

.opt_hover {
	padding-bottom: 100px;
	&:hover {
		ul {
			opacity: 1;
			transition: linear .5s;
		}
	}
	ul {
		opacity: 0;
		transition: linear .5s;
		.list-group-item {
			padding: 3px 8px;
			font-size: 10px;
		}
	}
}

.mh-65 {
    min-height: 65px;
}

.note-toolbar {
	background-color: #e8e8e8;
}

.new_category_field {
	display: none;
}

.img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 180px;
	background-color: lightgray;
	img {
		width: 100%;
	}
	&:before {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		content: "Upload Image";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		opacity: 0;
		transition: linear .3s;
	}
	&:hover {
		&:before {
			opacity: 1;
			transition: linear .3s;
		}
	}
	&.is-v2 {
		&:hover {
			&:before {
				display: none;
			}
		}
	}
}

#featured-img-box {
	position: relative;
	pointer-events: all;
	cursor: pointer;
}

#featured-img {
	display: none;
	pointer-events: none;
}

#editable_fimg {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

table.dataTable thead th {
	padding: 10px;
}