.todo_form {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	box-shadow: 0px 0px 8px 0px lightgray;
	border-radius: 8px;
	padding: 30px 20px;
	.grp {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		// .memo {
		// 	display: block;
		// 	width: 100%;
		// 	margin-top: 20px;
			tbody {
				tr {
					border-bottom: 1px solid lightgray;
					td {
						vertical-align: middle;
						.delete-data {
							i {
								font-size: 20px;
							}
						}
					}
				}
			}
		// }
		input[type="text"], input[type="date"], textarea, select, .editable_content {
			border: none;
			outline: none;
			font-size: 14px;
			width: 100%;
		}
		textarea {
			max-height: 35px;
		}
		.editable_content {
			border: none;
			margin-left: 10px;
			color: gray;
			margin-right: 10px;
		}
	}
}