#hero-slider {

	.slide-item{
		min-height: calc(100vh);
		background-size: cover;
		background-position: center center;
	}
	.owl-dots {
		@extend %flex-center;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 14px;
		.owl-dot {
			display: block;
			width: 50px;
			height: 6px;
			background-color: rgba($color: #000000, $alpha: .6);
			margin-right: 5px;
			outline: none;
			transition: ease-in .5s;
			&:last-child {
				margin-right: 0;
			}
			&.active {
				background-color: $secondary-color;
				transition: ease-in .5s;
			}
		}
	}
}